<div class="main-page">
     <div class="border-top"></div>
    <div class="contents">
      <div class="container">
         <div class="hero ripple">
          <div class="counts">
            <span class="percent">
              60%
            </span>
         </div>
         </div>
         <div class="card-cont">
           <div class="item-card">
             <span class="num">
               12%
             </span>
             <span class="users">Users</span>
           </div>
           <div class="item-card">
            <span class="num">
              45.33%
            </span>
            <span class="users">Groups</span>
          </div>
          <div class="item-card">
            <span class="num">
              82%
            </span>
            <span class="users">Messeges</span>
          </div>
         </div>
      </div>
    </div>
    <div class="border-bottom"></div>
</div>